In [2]:
import numpy as np

In [115]:
transaction_id = np.arange(1, 31)
user_id = np.random.randint(100, 200, size=(30, 1))
#product_id = np.random.randint(20000, 30000, size=(30, 1))
product_id = np.random.randint(20000, 20010, size=(30, 1))
quantity = np.random.randint(1, 10, size=(30, 1))
price = np.random.uniform(1,20, (30,1)).round(2)

#start_date = np.datetime64('2024-06-01')
#end_date = np.datetime64('2024-12-10')
#timestamp = np.arange(start_date, end_date, 3, dtype='datetime64[D]')

start_date = 20240801
end_date = 20240810
timestamp = np.random.randint(start_date, end_date, size=(30, 1))

In [116]:
multidim = np.column_stack((transaction_id, user_id, product_id, quantity, timestamp, price))
ecom = multidim.astype(object)

In [89]:
print(ecom)

[[1.0 185.0 20004.0 4.0 20240803.0 3.46]
 [2.0 104.0 20005.0 9.0 20240808.0 19.58]
 [3.0 160.0 20007.0 5.0 20240806.0 19.16]
 [4.0 117.0 20008.0 7.0 20240806.0 8.8]
 [5.0 181.0 20006.0 4.0 20240807.0 18.45]
 [6.0 198.0 20004.0 8.0 20240808.0 2.55]
 [7.0 154.0 20001.0 1.0 20240808.0 17.52]
 [8.0 172.0 20001.0 3.0 20240808.0 10.35]
 [9.0 161.0 20007.0 1.0 20240804.0 5.21]
 [10.0 173.0 20005.0 6.0 20240806.0 9.45]
 [11.0 176.0 20000.0 6.0 20240808.0 2.48]
 [12.0 102.0 20004.0 4.0 20240805.0 9.69]
 [13.0 175.0 20000.0 3.0 20240807.0 16.44]
 [14.0 111.0 20003.0 2.0 20240808.0 9.63]
 [15.0 169.0 20000.0 8.0 20240805.0 1.56]
 [16.0 159.0 20002.0 3.0 20240801.0 1.51]
 [17.0 186.0 20004.0 8.0 20240803.0 6.87]
 [18.0 139.0 20002.0 9.0 20240808.0 12.25]
 [19.0 184.0 20002.0 4.0 20240804.0 3.07]
 [20.0 119.0 20004.0 5.0 20240808.0 11.08]
 [21.0 173.0 20003.0 5.0 20240805.0 11.14]
 [22.0 121.0 20006.0 4.0 20240807.0 14.46]
 [23.0 124.0 20009.0 9.0 20240806.0 18.57]
 [24.0 194.0 20004.0 7.0 20240805.0 13.08]
 [25.0 173.0 20007.0 1.0 20240807.0 13.25]
 [26.0 137.0 20007.0 4.0 20240807.0 6.84]
 [27.0 146.0 20005.0 9.0 20240804.0 4.86]
 [28.0 164.0 20007.0 5.0 20240805.0 18.15]
 [29.0 158.0 20005.0 4.0 20240802.0 6.92]
 [30.0 145.0 20000.0 5.0 20240809.0 4.72]]

In [126]:
ecom[0:30,0:5] = ecom[0:30,0:5].astype(int)
print(ecom)
#a[:,0] = a[:,0].astype(int)

[[1 192 20007 3 20240807 3.25]
 [2 148 20007 9 20240804 7.26]
 [3 137 20008 4 20240809 3.37]
 [4 154 20005 1 20240807 19.82]
 [5 103 20004 1 20240806 13.84]
 [6 187 20003 7 20240807 17.1]
 [7 156 20000 4 20240801 15.61]
 [8 183 20003 9 20240806 13.64]
 [9 174 20008 3 20240807 15.0]
 [10 159 20007 5 20240805 9.27]
 [11 120 20000 7 20240801 16.91]
 [12 168 20003 3 20240803 1.81]
 [13 137 20003 6 20240802 10.84]
 [14 118 20008 7 20240805 16.54]
 [15 144 20003 7 20240803 17.66]
 [16 169 20006 9 20240803 19.44]
 [17 176 20005 4 20240808 13.59]
 [18 130 20009 1 20240801 18.22]
 [19 123 20007 3 20240802 2.68]
 [20 116 20001 6 20240807 7.53]
 [21 174 20008 8 20240803 16.34]
 [22 179 20007 5 20240807 14.36]
 [23 105 20009 8 20240808 8.36]
 [24 174 20004 8 20240806 14.08]
 [25 174 20005 4 20240807 4.76]
 [26 127 20003 6 20240804 4.49]
 [27 154 20005 2 20240803 2.66]
 [28 102 20006 3 20240805 4.53]
 [29 105 20003 1 20240808 11.57]
 [30 147 20007 4 20240807 18.5]]

In [56]:
# w = np.zeros([30,6]).astype(int)
# w[0:30, 0] = transaction_id

# w[0:30, 4] = price
# print(w)

In [57]:
def revenue(arr):
    rev = 0
    for val in arr:
        sum = 0
        sum = val[3] * val[5]
        #print (sum)
        rev = rev + sum
    return(round(rev, 2))

In [58]:
revenue(ecom)

1688.36

In [101]:
def unq_users(arr):
    users = []
    for user in arr:
        if user[1] not in users:
            users.append(user[1])
    unq_users = len(users)
    return(unq_users)

In [108]:
unq_users(ecom)

25

In [127]:
def most_purchased(arr):
    mp_d = {}
  
    for items in arr:
        #print (str(items[2]) + ' -> ' + str(items[3]))

        if items[2] in mp_d:
            mp_d[items[2]] = mp_d.get(items[2], 0) + items[3]
        else:
            mp_d[items[2]] = items[3]

    print('All product ids with their amount of total purchases')
    print (mp_d)
    
    most_purchased_product_id = ''
    qty = 0
    for key, value in mp_d.items():
        if value > qty:
            qty += value
            most_purchased_product_id = key 
    
    print('')
    print ('Most purchased product_id:') 
    print (most_purchased_product_id)

In [128]:
most_purchased(ecom)

All product ids with their amount of total purchases
{20007: 29, 20008: 22, 20005: 11, 20004: 9, 20003: 39, 20000: 11, 20006: 12, 20009: 9, 20001: 6}

Most purchased product_id:
20003

In [63]:
def cust_price_type(arr):
    ecom[0:30,5] = ecom[0:30,5].astype(int)
    return(ecom)

In [64]:
cust_price_type(ecom)

array([[1, 105, 20001, 2, 20240807, 12],
       [2, 144, 20007, 7, 20240806, 15],
       [3, 172, 20003, 1, 20240808, 1],
       [4, 156, 20006, 6, 20240803, 16],
       [5, 150, 20009, 6, 20240808, 13],
       [6, 139, 20009, 1, 20240803, 1],
       [7, 189, 20009, 9, 20240803, 19],
       [8, 164, 20002, 9, 20240808, 19],
       [9, 113, 20000, 6, 20240807, 16],
       [10, 119, 20001, 9, 20240806, 2],
       [11, 113, 20005, 2, 20240809, 17],
       [12, 144, 20003, 3, 20240803, 18],
       [13, 191, 20008, 1, 20240802, 15],
       [14, 155, 20006, 9, 20240808, 4],
       [15, 123, 20004, 4, 20240808, 11],
       [16, 166, 20005, 2, 20240806, 18],
       [17, 149, 20000, 4, 20240805, 13],
       [18, 151, 20001, 6, 20240802, 18],
       [19, 128, 20000, 3, 20240806, 17],
       [20, 191, 20002, 2, 20240805, 9],
       [21, 173, 20002, 7, 20240809, 19],
       [22, 114, 20004, 5, 20240802, 15],
       [23, 129, 20005, 9, 20240808, 3],
       [24, 194, 20009, 2, 20240808, 3],
       [25, 171, 20003, 4, 20240806, 3],
       [26, 164, 20003, 4, 20240809, 4],
       [27, 183, 20003, 7, 20240808, 8],
       [28, 155, 20004, 3, 20240804, 14],
       [29, 126, 20003, 4, 20240807, 6],
       [30, 114, 20001, 1, 20240809, 13]], dtype=object)

In [137]:
def column_type(arr, column):
    print ('Column type of column number ' + str(column) + ' is:')
    return arr[:, column].dtype

In [139]:
column_type(ecom, 3)

Column type of column number 3 is:

dtype('O')

In [67]:
#3. Array Manipulation Functions

def new_array(arr):
    code = np.vstack(ecom[0:30, 2])
    qty = np.vstack(ecom[0:30, 3])
    new_array = np.hstack((code, qty))
    return new_array

In [68]:
new_array(ecom)

array([[20001,     2],
       [20007,     7],
       [20003,     1],
       [20006,     6],
       [20009,     6],
       [20009,     1],
       [20009,     9],
       [20002,     9],
       [20000,     6],
       [20001,     9],
       [20005,     2],
       [20003,     3],
       [20008,     1],
       [20006,     9],
       [20004,     4],
       [20005,     2],
       [20000,     4],
       [20001,     6],
       [20000,     3],
       [20002,     2],
       [20002,     7],
       [20004,     5],
       [20005,     9],
       [20009,     2],
       [20003,     4],
       [20003,     4],
       [20003,     7],
       [20004,     3],
       [20003,     4],
       [20001,     1]])

In [71]:
def transactions_amt(arr):
    users, transaction_counts = np.unique(arr[0:30, 1], return_counts=True)   
    code = np.vstack(users[0:30, None])
    amt = np.vstack(transaction_counts[0:30, None])
    new_array = np.hstack((code, amt))

    return (new_array)
#users, transaction_counts

In [72]:
transactions_amt(ecom)

array([[105, 1],
       [113, 2],
       [114, 2],
       [119, 1],
       [123, 1],
       [126, 1],
       [128, 1],
       [129, 1],
       [139, 1],
       [144, 2],
       [149, 1],
       [150, 1],
       [151, 1],
       [155, 2],
       [156, 1],
       [164, 2],
       [166, 1],
       [171, 1],
       [172, 1],
       [173, 1],
       [183, 1],
       [189, 1],
       [191, 2],
       [194, 1]], dtype=object)

In [23]:
# arr = np.array([1, 2, np.nan, 4, 5])
# mask = np.isnan(arr)

# masked_array = np.ma.array(arr, mask=mask)

# print(masked_array.compressed()) # [1. 2. 4. 5.]
# print(masked_array.mask) # [False False  True False False]
# print(masked_array.mean()) # 3.0
# print(masked_array * 2) # [2.0 4.0 -- 8.0 10.0]

In [73]:
#### Cant replace with mask in specific column in matrix
def masking(arr):
    mask = np.ma.masked_where(arr[:, 3] < 2, arr[:, 3])
    return mask

In [74]:
masking(ecom)

masked_array(data=[2, 7, --, 6, 6, --, 9, 9, 6, 9, 2, 3, --, 9, 4, 2, 4,
                   6, 3, 2, 7, 5, 9, 2, 4, 4, 7, 3, 4, --],
             mask=[False, False,  True, False, False,  True, False, False,
                   False, False, False, False,  True, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False,  True],
       fill_value='?',
            dtype=object)

In [75]:
def increaser(arr):
    
    for line in arr:
        line[5] = round((line[5] * 1.1), 2)
    return arr

In [76]:
increaser(ecom)

array([[1, 105, 20001, 2, 20240807, 13.2],
       [2, 144, 20007, 7, 20240806, 16.5],
       [3, 172, 20003, 1, 20240808, 1.1],
       [4, 156, 20006, 6, 20240803, 17.6],
       [5, 150, 20009, 6, 20240808, 14.3],
       [6, 139, 20009, 1, 20240803, 1.1],
       [7, 189, 20009, 9, 20240803, 20.9],
       [8, 164, 20002, 9, 20240808, 20.9],
       [9, 113, 20000, 6, 20240807, 17.6],
       [10, 119, 20001, 9, 20240806, 2.2],
       [11, 113, 20005, 2, 20240809, 18.7],
       [12, 144, 20003, 3, 20240803, 19.8],
       [13, 191, 20008, 1, 20240802, 16.5],
       [14, 155, 20006, 9, 20240808, 4.4],
       [15, 123, 20004, 4, 20240808, 12.1],
       [16, 166, 20005, 2, 20240806, 19.8],
       [17, 149, 20000, 4, 20240805, 14.3],
       [18, 151, 20001, 6, 20240802, 19.8],
       [19, 128, 20000, 3, 20240806, 18.7],
       [20, 191, 20002, 2, 20240805, 9.9],
       [21, 173, 20002, 7, 20240809, 20.9],
       [22, 114, 20004, 5, 20240802, 16.5],
       [23, 129, 20005, 9, 20240808, 3.3],
       [24, 194, 20009, 2, 20240808, 3.3],
       [25, 171, 20003, 4, 20240806, 3.3],
       [26, 164, 20003, 4, 20240809, 4.4],
       [27, 183, 20003, 7, 20240808, 8.8],
       [28, 155, 20004, 3, 20240804, 15.4],
       [29, 126, 20003, 4, 20240807, 6.6],
       [30, 114, 20001, 1, 20240809, 14.3]], dtype=object)

In [77]:
def greather_1(arr):
    #new_array = np.zeros(shape=(1, 6))
    new_array = np.empty(shape=(0, 6))
    for line in arr:
        if line[3] > 1:
            new_array = np.vstack([new_array, line])
            
    return(new_array)

In [78]:
greather_1(ecom)

array([[1, 105, 20001, 2, 20240807, 13.2],
       [2, 144, 20007, 7, 20240806, 16.5],
       [4, 156, 20006, 6, 20240803, 17.6],
       [5, 150, 20009, 6, 20240808, 14.3],
       [7, 189, 20009, 9, 20240803, 20.9],
       [8, 164, 20002, 9, 20240808, 20.9],
       [9, 113, 20000, 6, 20240807, 17.6],
       [10, 119, 20001, 9, 20240806, 2.2],
       [11, 113, 20005, 2, 20240809, 18.7],
       [12, 144, 20003, 3, 20240803, 19.8],
       [14, 155, 20006, 9, 20240808, 4.4],
       [15, 123, 20004, 4, 20240808, 12.1],
       [16, 166, 20005, 2, 20240806, 19.8],
       [17, 149, 20000, 4, 20240805, 14.3],
       [18, 151, 20001, 6, 20240802, 19.8],
       [19, 128, 20000, 3, 20240806, 18.7],
       [20, 191, 20002, 2, 20240805, 9.9],
       [21, 173, 20002, 7, 20240809, 20.9],
       [22, 114, 20004, 5, 20240802, 16.5],
       [23, 129, 20005, 9, 20240808, 3.3],
       [24, 194, 20009, 2, 20240808, 3.3],
       [25, 171, 20003, 4, 20240806, 3.3],
       [26, 164, 20003, 4, 20240809, 4.4],
       [27, 183, 20003, 7, 20240808, 8.8],
       [28, 155, 20004, 3, 20240804, 15.4],
       [29, 126, 20003, 4, 20240807, 6.6]], dtype=object)

In [202]:
def comparison_revenue_by_date(arr, date1, date2):
    dates = {}
  
    for items in arr:
        # print (str(items[4]) + ' -> ' + str(items[5]))

        if items[4] in dates:
            dates[items[4]] = dates.get(items[4], 0) + round(items[5], 2)
        else:
            dates[items[4]] = items[5]

    #print (dates)
    
    for date, value in dates.items():
        if date in (date1, date2):
            print ('For date ' + str(date) + ', revenue = ' + str(round(value, 2)))
    return

In [203]:
comparison_revenue_by_date(ecom, 20240807, 20240803)

For date 20240807, revenue = 117.37
For date 20240803, revenue = 66.55

In [189]:
# Indexing and Slicing Functions:
def user_trans(arr, user_id):
    user_transactions = np.empty(shape=(0, 6))
    for line in arr:
        if line[1] == user_id:
            #print (line)
            user_transactions = np.vstack([user_transactions, line])
    return user_transactions

# #OR
def user_trans2(arr, user):
    res = np.where(arr[:, 1] == user)
    #print(res)
    
    for line in res:
        print (arr[line])

In [188]:
user_trans(ecom, 156)
user_trans2(ecom, 156)

[[7 156 20000 4 20240801 18.15]]

In [191]:
def between_dates(arr, date1, date2):
    data_between_dates = np.empty(shape=(0, 6))
    if date1 > date2:
        date1, date2 = date2, date1
        
    for line in arr:
        if line[4] >= date1 and line[4] <= date2:
            #print(line)
            data_between_dates = np.vstack([data_between_dates, line])
    return data_between_dates

In [192]:
between_dates(ecom, 20240806, 20240803)

array([[2, 148, 20007, 9, 20240804, 8.47],
       [5, 103, 20004, 1, 20240806, 15.73],
       [8, 183, 20003, 9, 20240806, 15.73],
       [10, 159, 20007, 5, 20240805, 10.89],
       [12, 168, 20003, 3, 20240803, 1.21],
       [14, 118, 20008, 7, 20240805, 19.36],
       [15, 144, 20003, 7, 20240803, 20.57],
       [16, 169, 20006, 9, 20240803, 22.99],
       [21, 174, 20008, 8, 20240803, 19.36],
       [24, 174, 20004, 8, 20240806, 16.94],
       [26, 127, 20003, 6, 20240804, 4.84],
       [27, 154, 20005, 2, 20240803, 2.42],
       [28, 102, 20006, 3, 20240805, 4.84]], dtype=object)

In [85]:
def top_5_products_by_revenue(arr, product_ids, revenues):
    
    #Determine unique products and total revenue by every one
    unique_products, indices = np.unique(product_ids, return_inverse=True)
    total_revenue_per_product = np.zeros(len(unique_products))
    np.add.at(total_revenue_per_product, indices, revenues)
    
    #Find indexes of top 5 products by revenu
    top_5_indices = np.argsort(total_revenue_per_product)[-5:]

    #Get identificators of top-5 products
    top_5_products = unique_products[top_5_indices]

    # Retriving transactions for top-5 bproducts
    top_5_transactions = arr[np.isin(product_ids, top_5_products)]
    
    return top_5_transactions

In [86]:
product_ids = ecom[:, 2]
revenues = ecom[:, 5].astype(float)

 # Retriving transactions for top-5 bproducts by revenue
top_transactions = top_5_products_by_revenue(ecom, product_ids, revenues)

print('Transactions for top-5 bproducts by revenue:')
print(top_transactions)

Transactions for top-5 bproducts by revenue:
[[1 105 20001 2 20240807 13.2]
 [3 172 20003 1 20240808 1.1]
 [8 164 20002 9 20240808 20.9]
 [9 113 20000 6 20240807 17.6]
 [10 119 20001 9 20240806 2.2]
 [12 144 20003 3 20240803 19.8]
 [15 123 20004 4 20240808 12.1]
 [17 149 20000 4 20240805 14.3]
 [18 151 20001 6 20240802 19.8]
 [19 128 20000 3 20240806 18.7]
 [20 191 20002 2 20240805 9.9]
 [21 173 20002 7 20240809 20.9]
 [22 114 20004 5 20240802 16.5]
 [25 171 20003 4 20240806 3.3]
 [26 164 20003 4 20240809 4.4]
 [27 183 20003 7 20240808 8.8]
 [28 155 20004 3 20240804 15.4]
 [29 126 20003 4 20240807 6.6]
 [30 114 20001 1 20240809 14.3]]

In [140]:
def print_array(array, message = None):
    if message:
        print(message)
        print('')
    print(array)

In [141]:
##################################

In [142]:
print_array(revenue(ecom), 'Total Revenue Function')

Total Revenue Function

1710

In [143]:
print_array(unq_users(ecom), 'Unique Users Function')

Unique Users Function

24

In [148]:
print_array(most_purchased(ecom))

All product ids with their amount of total purchases
{20007: 29, 20008: 22, 20005: 11, 20004: 9, 20003: 39, 20000: 11, 20006: 12, 20009: 9, 20001: 6}

Most purchased product_id:
20003
None

In [145]:
print_array(cust_price_type(ecom), 'Convert the price array from float to integer.')

Convert the price array from float to integer.

[[1 192 20007 3 20240807 3]
 [2 148 20007 9 20240804 7]
 [3 137 20008 4 20240809 3]
 [4 154 20005 1 20240807 19]
 [5 103 20004 1 20240806 13]
 [6 187 20003 7 20240807 17]
 [7 156 20000 4 20240801 15]
 [8 183 20003 9 20240806 13]
 [9 174 20008 3 20240807 15]
 [10 159 20007 5 20240805 9]
 [11 120 20000 7 20240801 16]
 [12 168 20003 3 20240803 1]
 [13 137 20003 6 20240802 10]
 [14 118 20008 7 20240805 16]
 [15 144 20003 7 20240803 17]
 [16 169 20006 9 20240803 19]
 [17 176 20005 4 20240808 13]
 [18 130 20009 1 20240801 18]
 [19 123 20007 3 20240802 2]
 [20 116 20001 6 20240807 7]
 [21 174 20008 8 20240803 16]
 [22 179 20007 5 20240807 14]
 [23 105 20009 8 20240808 8]
 [24 174 20004 8 20240806 14]
 [25 174 20005 4 20240807 4]
 [26 127 20003 6 20240804 4]
 [27 154 20005 2 20240803 2]
 [28 102 20006 3 20240805 4]
 [29 105 20003 1 20240808 11]
 [30 147 20007 4 20240807 18]]

In [147]:
print_array(column_type(ecom, 3))

Column type of column number 3 is:
object

In [149]:
print_array(new_array(ecom), 'Product Quantity Array Function')

Product Quantity Array Function

[[20007     3]
 [20007     9]
 [20008     4]
 [20005     1]
 [20004     1]
 [20003     7]
 [20000     4]
 [20003     9]
 [20008     3]
 [20007     5]
 [20000     7]
 [20003     3]
 [20003     6]
 [20008     7]
 [20003     7]
 [20006     9]
 [20005     4]
 [20009     1]
 [20007     3]
 [20001     6]
 [20008     8]
 [20007     5]
 [20009     8]
 [20004     8]
 [20005     4]
 [20003     6]
 [20005     2]
 [20006     3]
 [20003     1]
 [20007     4]]

In [150]:
print_array(transactions_amt(ecom), 'User Transaction Count Function')

User Transaction Count Function

[[102 1]
 [103 1]
 [105 2]
 [116 1]
 [118 1]
 [120 1]
 [123 1]
 [127 1]
 [130 1]
 [137 2]
 [144 1]
 [147 1]
 [148 1]
 [154 2]
 [156 1]
 [159 1]
 [168 1]
 [169 1]
 [174 4]
 [176 1]
 [179 1]
 [183 1]
 [187 1]
 [192 1]]

In [151]:
print_array(masking(ecom), 'Masked Array Function')

Masked Array Function

[3 9 4 -- -- 7 4 9 3 5 7 3 6 7 7 9 4 -- 3 6 8 5 8 8 4 6 2 3 -- 4]

In [153]:
print_array(increaser(ecom), 'Price Increase on 10% Function')

Price Increase on 10% Function

[[1 192 20007 3 20240807 3.63]
 [2 148 20007 9 20240804 8.47]
 [3 137 20008 4 20240809 3.63]
 [4 154 20005 1 20240807 22.99]
 [5 103 20004 1 20240806 15.73]
 [6 187 20003 7 20240807 20.57]
 [7 156 20000 4 20240801 18.15]
 [8 183 20003 9 20240806 15.73]
 [9 174 20008 3 20240807 18.15]
 [10 159 20007 5 20240805 10.89]
 [11 120 20000 7 20240801 19.36]
 [12 168 20003 3 20240803 1.21]
 [13 137 20003 6 20240802 12.1]
 [14 118 20008 7 20240805 19.36]
 [15 144 20003 7 20240803 20.57]
 [16 169 20006 9 20240803 22.99]
 [17 176 20005 4 20240808 15.73]
 [18 130 20009 1 20240801 21.78]
 [19 123 20007 3 20240802 2.42]
 [20 116 20001 6 20240807 8.47]
 [21 174 20008 8 20240803 19.36]
 [22 179 20007 5 20240807 16.94]
 [23 105 20009 8 20240808 9.68]
 [24 174 20004 8 20240806 16.94]
 [25 174 20005 4 20240807 4.84]
 [26 127 20003 6 20240804 4.84]
 [27 154 20005 2 20240803 2.42]
 [28 102 20006 3 20240805 4.84]
 [29 105 20003 1 20240808 13.31]
 [30 147 20007 4 20240807 21.78]]

In [154]:
print_array(greather_1(ecom), 'Filter Transactions Function')

Filter Transactions Function

[[1 192 20007 3 20240807 3.63]
 [2 148 20007 9 20240804 8.47]
 [3 137 20008 4 20240809 3.63]
 [6 187 20003 7 20240807 20.57]
 [7 156 20000 4 20240801 18.15]
 [8 183 20003 9 20240806 15.73]
 [9 174 20008 3 20240807 18.15]
 [10 159 20007 5 20240805 10.89]
 [11 120 20000 7 20240801 19.36]
 [12 168 20003 3 20240803 1.21]
 [13 137 20003 6 20240802 12.1]
 [14 118 20008 7 20240805 19.36]
 [15 144 20003 7 20240803 20.57]
 [16 169 20006 9 20240803 22.99]
 [17 176 20005 4 20240808 15.73]
 [19 123 20007 3 20240802 2.42]
 [20 116 20001 6 20240807 8.47]
 [21 174 20008 8 20240803 19.36]
 [22 179 20007 5 20240807 16.94]
 [23 105 20009 8 20240808 9.68]
 [24 174 20004 8 20240806 16.94]
 [25 174 20005 4 20240807 4.84]
 [26 127 20003 6 20240804 4.84]
 [27 154 20005 2 20240803 2.42]
 [28 102 20006 3 20240805 4.84]
 [30 147 20007 4 20240807 21.78]]

In [204]:
print_array(comparison_revenue_by_date(ecom, 20240807, 20240803))

For date 20240807, revenue = 117.37
For date 20240803, revenue = 66.55
None

In [190]:
print_array(user_trans(ecom, 174), 'User Transactions Function:')

User Transactions Function:

[[9 174 20008 3 20240807 18.15]
 [21 174 20008 8 20240803 19.36]
 [24 174 20004 8 20240806 16.94]
 [25 174 20005 4 20240807 4.84]]

In [193]:
print_array(between_dates(ecom, 20240806, 20240803), 'Date Range Slicing Function')

Date Range Slicing Function

[[2 148 20007 9 20240804 8.47]
 [5 103 20004 1 20240806 15.73]
 [8 183 20003 9 20240806 15.73]
 [10 159 20007 5 20240805 10.89]
 [12 168 20003 3 20240803 1.21]
 [14 118 20008 7 20240805 19.36]
 [15 144 20003 7 20240803 20.57]
 [16 169 20006 9 20240803 22.99]
 [21 174 20008 8 20240803 19.36]
 [24 174 20004 8 20240806 16.94]
 [26 127 20003 6 20240804 4.84]
 [27 154 20005 2 20240803 2.42]
 [28 102 20006 3 20240805 4.84]]