In [2]:
import numpy as np

In [3]:
transaction_id = np.arange(1, 31)
user_id = np.random.randint(100, 200, size=(30, 1))
#product_id = np.random.randint(20000, 30000, size=(30, 1))
product_id = np.random.randint(20000, 20010, size=(30, 1))
quantity = np.random.randint(1, 10, size=(30, 1))
price = np.random.uniform(1,20, (30,1)).round(2)

#start_date = np.datetime64('2024-06-01')
#end_date = np.datetime64('2024-12-10')
#timestamp = np.arange(start_date, end_date, 3, dtype='datetime64[D]')

start_date = 20240801
end_date = 20240810
timestamp = np.random.randint(start_date, end_date, size=(30, 1))


#print(user_id)

In [4]:
multidim = np.column_stack((transaction_id, user_id, product_id, quantity, timestamp, price))
ecom = multidim.astype(object)

In [5]:
print(ecom)

[[1.0 185.0 20000.0 7.0 20240804.0 17.69]
 [2.0 194.0 20001.0 4.0 20240801.0 4.79]
 [3.0 127.0 20002.0 5.0 20240808.0 19.77]
 [4.0 101.0 20000.0 3.0 20240808.0 1.62]
 [5.0 132.0 20003.0 8.0 20240807.0 18.24]
 [6.0 169.0 20008.0 8.0 20240803.0 6.77]
 [7.0 197.0 20005.0 4.0 20240808.0 17.93]
 [8.0 137.0 20004.0 4.0 20240808.0 5.32]
 [9.0 133.0 20003.0 1.0 20240809.0 12.79]
 [10.0 119.0 20002.0 1.0 20240806.0 18.75]
 [11.0 172.0 20009.0 6.0 20240801.0 19.41]
 [12.0 128.0 20001.0 4.0 20240808.0 8.4]
 [13.0 144.0 20004.0 5.0 20240807.0 12.7]
 [14.0 115.0 20003.0 7.0 20240808.0 4.48]
 [15.0 142.0 20002.0 7.0 20240804.0 9.87]
 [16.0 126.0 20008.0 8.0 20240801.0 14.47]
 [17.0 151.0 20003.0 4.0 20240807.0 14.22]
 [18.0 139.0 20003.0 1.0 20240801.0 6.22]
 [19.0 113.0 20009.0 9.0 20240803.0 9.35]
 [20.0 116.0 20001.0 5.0 20240803.0 12.13]
 [21.0 120.0 20000.0 1.0 20240805.0 8.33]
 [22.0 111.0 20000.0 8.0 20240807.0 18.52]
 [23.0 156.0 20004.0 5.0 20240807.0 14.88]
 [24.0 182.0 20008.0 3.0 20240807.0 19.77]
 [25.0 163.0 20008.0 5.0 20240805.0 6.55]
 [26.0 114.0 20002.0 4.0 20240801.0 6.89]
 [27.0 196.0 20000.0 3.0 20240804.0 15.76]
 [28.0 138.0 20007.0 7.0 20240802.0 4.9]
 [29.0 108.0 20009.0 1.0 20240804.0 13.05]
 [30.0 119.0 20006.0 5.0 20240808.0 5.65]]

In [6]:
ecom[0:30,0:5] = ecom[0:30,0:5].astype(int)
print(ecom)
#a[:,0] = a[:,0].astype(int)

[[1 185 20000 7 20240804 17.69]
 [2 194 20001 4 20240801 4.79]
 [3 127 20002 5 20240808 19.77]
 [4 101 20000 3 20240808 1.62]
 [5 132 20003 8 20240807 18.24]
 [6 169 20008 8 20240803 6.77]
 [7 197 20005 4 20240808 17.93]
 [8 137 20004 4 20240808 5.32]
 [9 133 20003 1 20240809 12.79]
 [10 119 20002 1 20240806 18.75]
 [11 172 20009 6 20240801 19.41]
 [12 128 20001 4 20240808 8.4]
 [13 144 20004 5 20240807 12.7]
 [14 115 20003 7 20240808 4.48]
 [15 142 20002 7 20240804 9.87]
 [16 126 20008 8 20240801 14.47]
 [17 151 20003 4 20240807 14.22]
 [18 139 20003 1 20240801 6.22]
 [19 113 20009 9 20240803 9.35]
 [20 116 20001 5 20240803 12.13]
 [21 120 20000 1 20240805 8.33]
 [22 111 20000 8 20240807 18.52]
 [23 156 20004 5 20240807 14.88]
 [24 182 20008 3 20240807 19.77]
 [25 163 20008 5 20240805 6.55]
 [26 114 20002 4 20240801 6.89]
 [27 196 20000 3 20240804 15.76]
 [28 138 20007 7 20240802 4.9]
 [29 108 20009 1 20240804 13.05]
 [30 119 20006 5 20240808 5.65]]

In [521]:
# w = np.zeros([30,6]).astype(int)
# w[0:30, 0] = transaction_id

# w[0:30, 4] = price
# print(w)

In [7]:
def revenue(arr):
    rev = 0
    for val in arr:
        sum = 0
        sum = val[3] * val[5]
        #print (sum)
        rev = rev + sum
    return(round(rev, 2))

In [8]:
revenue(ecom)

1682.38

In [9]:
def unq_users(arr):
    users = []
    for user in arr:
        if user[1] not in users:
            users.append(user[1])
    unq_users = len(users)
    return(unq_users)

In [10]:
unq_users(ecom)

29

In [11]:
def most_purchased(arr):
    mp_d = {}
  
    for items in arr:
        #print (str(items[2]) + ' -> ' + str(items[3]))

        if items[2] in mp_d:
            mp_d[items[2]] = mp_d.get(items[2], 0) + items[3]
        else:
            mp_d[items[2]] = items[3]

    print (mp_d)
    
    most_purchased_product_id = ''
    qty = 0
    for key, value in mp_d.items():
        if value > qty:
            qty += value
            most_purchased_product_id = key 
            
    print (most_purchased_product_id)

In [12]:
most_purchased(ecom)

{20000: 22, 20001: 13, 20002: 17, 20003: 21, 20008: 24, 20005: 4, 20004: 14, 20009: 16, 20007: 7, 20006: 5}
20008

In [13]:
def cust_price_type(arr):
    ecom[0:30,5] = ecom[0:30,5].astype(int)
    return(ecom)

In [14]:
cust_price_type(ecom)

array([[1, 185, 20000, 7, 20240804, 17],
       [2, 194, 20001, 4, 20240801, 4],
       [3, 127, 20002, 5, 20240808, 19],
       [4, 101, 20000, 3, 20240808, 1],
       [5, 132, 20003, 8, 20240807, 18],
       [6, 169, 20008, 8, 20240803, 6],
       [7, 197, 20005, 4, 20240808, 17],
       [8, 137, 20004, 4, 20240808, 5],
       [9, 133, 20003, 1, 20240809, 12],
       [10, 119, 20002, 1, 20240806, 18],
       [11, 172, 20009, 6, 20240801, 19],
       [12, 128, 20001, 4, 20240808, 8],
       [13, 144, 20004, 5, 20240807, 12],
       [14, 115, 20003, 7, 20240808, 4],
       [15, 142, 20002, 7, 20240804, 9],
       [16, 126, 20008, 8, 20240801, 14],
       [17, 151, 20003, 4, 20240807, 14],
       [18, 139, 20003, 1, 20240801, 6],
       [19, 113, 20009, 9, 20240803, 9],
       [20, 116, 20001, 5, 20240803, 12],
       [21, 120, 20000, 1, 20240805, 8],
       [22, 111, 20000, 8, 20240807, 18],
       [23, 156, 20004, 5, 20240807, 14],
       [24, 182, 20008, 3, 20240807, 19],
       [25, 163, 20008, 5, 20240805, 6],
       [26, 114, 20002, 4, 20240801, 6],
       [27, 196, 20000, 3, 20240804, 15],
       [28, 138, 20007, 7, 20240802, 4],
       [29, 108, 20009, 1, 20240804, 13],
       [30, 119, 20006, 5, 20240808, 5]], dtype=object)

In [15]:
def column_type(arr, column):
    return arr[:, column].dtype

In [16]:
column_type(ecom, 5)

dtype('O')

In [17]:
#3. Array Manipulation Functions

def new_array(arr):
    code = np.vstack(ecom[0:30, 2])
    qty = np.vstack(ecom[0:30, 3])
    new_array = np.hstack((code, qty))
    return new_array

In [18]:
new_array(ecom)

array([[20000,     7],
       [20001,     4],
       [20002,     5],
       [20000,     3],
       [20003,     8],
       [20008,     8],
       [20005,     4],
       [20004,     4],
       [20003,     1],
       [20002,     1],
       [20009,     6],
       [20001,     4],
       [20004,     5],
       [20003,     7],
       [20002,     7],
       [20008,     8],
       [20003,     4],
       [20003,     1],
       [20009,     9],
       [20001,     5],
       [20000,     1],
       [20000,     8],
       [20004,     5],
       [20008,     3],
       [20008,     5],
       [20002,     4],
       [20000,     3],
       [20007,     7],
       [20009,     1],
       [20006,     5]])

In [19]:
#print(new_array(ecom)[:, 0].dtype)
print(column_type(new_array(ecom), 1))

int64

In [20]:
print(ecom)

[[1 185 20000 7 20240804 17]
 [2 194 20001 4 20240801 4]
 [3 127 20002 5 20240808 19]
 [4 101 20000 3 20240808 1]
 [5 132 20003 8 20240807 18]
 [6 169 20008 8 20240803 6]
 [7 197 20005 4 20240808 17]
 [8 137 20004 4 20240808 5]
 [9 133 20003 1 20240809 12]
 [10 119 20002 1 20240806 18]
 [11 172 20009 6 20240801 19]
 [12 128 20001 4 20240808 8]
 [13 144 20004 5 20240807 12]
 [14 115 20003 7 20240808 4]
 [15 142 20002 7 20240804 9]
 [16 126 20008 8 20240801 14]
 [17 151 20003 4 20240807 14]
 [18 139 20003 1 20240801 6]
 [19 113 20009 9 20240803 9]
 [20 116 20001 5 20240803 12]
 [21 120 20000 1 20240805 8]
 [22 111 20000 8 20240807 18]
 [23 156 20004 5 20240807 14]
 [24 182 20008 3 20240807 19]
 [25 163 20008 5 20240805 6]
 [26 114 20002 4 20240801 6]
 [27 196 20000 3 20240804 15]
 [28 138 20007 7 20240802 4]
 [29 108 20009 1 20240804 13]
 [30 119 20006 5 20240808 5]]

In [21]:
def transactions_amt(arr):
    users, transaction_counts = np.unique(arr[0:30, 1], return_counts=True)   
    code = np.vstack(users[0:30, None])
    amt = np.vstack(transaction_counts[0:30, None])
    new_array = np.hstack((code, amt))

    return (new_array)
#users, transaction_counts

In [22]:
transactions_amt(ecom)

array([[101, 1],
       [108, 1],
       [111, 1],
       [113, 1],
       [114, 1],
       [115, 1],
       [116, 1],
       [119, 2],
       [120, 1],
       [126, 1],
       [127, 1],
       [128, 1],
       [132, 1],
       [133, 1],
       [137, 1],
       [138, 1],
       [139, 1],
       [142, 1],
       [144, 1],
       [151, 1],
       [156, 1],
       [163, 1],
       [169, 1],
       [172, 1],
       [182, 1],
       [185, 1],
       [194, 1],
       [196, 1],
       [197, 1]], dtype=object)

In [23]:
# arr = np.array([1, 2, np.nan, 4, 5])
# mask = np.isnan(arr)

# masked_array = np.ma.array(arr, mask=mask)

# print(masked_array.compressed()) # [1. 2. 4. 5.]
# print(masked_array.mask) # [False False  True False False]
# print(masked_array.mean()) # 3.0
# print(masked_array * 2) # [2.0 4.0 -- 8.0 10.0]

In [24]:
#### Cant replace with mask in specific column in matrix
def masking(arr):
    mask = np.ma.masked_where(arr[:, 3] < 2, arr[:, 3])
    return mask

In [25]:
masking(ecom)

masked_array(data=[7, 4, 5, 3, 8, 8, 4, 4, --, --, 6, 4, 5, 7, 7, 8, 4,
                   --, 9, 5, --, 8, 5, 3, 5, 4, 3, 7, --, 5],
             mask=[False, False, False, False, False, False, False, False,
                    True,  True, False, False, False, False, False, False,
                   False,  True, False, False,  True, False, False, False,
                   False, False, False, False,  True, False],
       fill_value='?',
            dtype=object)

In [27]:
def increaser(arr):
    
    for line in arr:
        line[5] = round((line[5] * 1.1), 2)
    return arr

In [28]:
increaser(ecom)

array([[1, 185, 20000, 7, 20240804, 18.7],
       [2, 194, 20001, 4, 20240801, 4.4],
       [3, 127, 20002, 5, 20240808, 20.9],
       [4, 101, 20000, 3, 20240808, 1.1],
       [5, 132, 20003, 8, 20240807, 19.8],
       [6, 169, 20008, 8, 20240803, 6.6],
       [7, 197, 20005, 4, 20240808, 18.7],
       [8, 137, 20004, 4, 20240808, 5.5],
       [9, 133, 20003, 1, 20240809, 13.2],
       [10, 119, 20002, 1, 20240806, 19.8],
       [11, 172, 20009, 6, 20240801, 20.9],
       [12, 128, 20001, 4, 20240808, 8.8],
       [13, 144, 20004, 5, 20240807, 13.2],
       [14, 115, 20003, 7, 20240808, 4.4],
       [15, 142, 20002, 7, 20240804, 9.9],
       [16, 126, 20008, 8, 20240801, 15.4],
       [17, 151, 20003, 4, 20240807, 15.4],
       [18, 139, 20003, 1, 20240801, 6.6],
       [19, 113, 20009, 9, 20240803, 9.9],
       [20, 116, 20001, 5, 20240803, 13.2],
       [21, 120, 20000, 1, 20240805, 8.8],
       [22, 111, 20000, 8, 20240807, 19.8],
       [23, 156, 20004, 5, 20240807, 15.4],
       [24, 182, 20008, 3, 20240807, 20.9],
       [25, 163, 20008, 5, 20240805, 6.6],
       [26, 114, 20002, 4, 20240801, 6.6],
       [27, 196, 20000, 3, 20240804, 16.5],
       [28, 138, 20007, 7, 20240802, 4.4],
       [29, 108, 20009, 1, 20240804, 14.3],
       [30, 119, 20006, 5, 20240808, 5.5]], dtype=object)

In [44]:
def greather_1(arr):
    #new_array = np.zeros(shape=(1, 6))
    new_array = np.empty(shape=(0, 6))
    for line in arr:
        if line[3] > 1:
            new_array = np.vstack([new_array, line])
            
    return(new_array)

In [45]:
greather_1(ecom)

array([[1, 185, 20000, 7, 20240804, 18.7],
       [2, 194, 20001, 4, 20240801, 4.4],
       [3, 127, 20002, 5, 20240808, 20.9],
       [4, 101, 20000, 3, 20240808, 1.1],
       [5, 132, 20003, 8, 20240807, 19.8],
       [6, 169, 20008, 8, 20240803, 6.6],
       [7, 197, 20005, 4, 20240808, 18.7],
       [8, 137, 20004, 4, 20240808, 5.5],
       [11, 172, 20009, 6, 20240801, 20.9],
       [12, 128, 20001, 4, 20240808, 8.8],
       [13, 144, 20004, 5, 20240807, 13.2],
       [14, 115, 20003, 7, 20240808, 4.4],
       [15, 142, 20002, 7, 20240804, 9.9],
       [16, 126, 20008, 8, 20240801, 15.4],
       [17, 151, 20003, 4, 20240807, 15.4],
       [19, 113, 20009, 9, 20240803, 9.9],
       [20, 116, 20001, 5, 20240803, 13.2],
       [22, 111, 20000, 8, 20240807, 19.8],
       [23, 156, 20004, 5, 20240807, 15.4],
       [24, 182, 20008, 3, 20240807, 20.9],
       [25, 163, 20008, 5, 20240805, 6.6],
       [26, 114, 20002, 4, 20240801, 6.6],
       [27, 196, 20000, 3, 20240804, 16.5],
       [28, 138, 20007, 7, 20240802, 4.4],
       [30, 119, 20006, 5, 20240808, 5.5]], dtype=object)

In [31]:
def comparison_revenue_by_date(arr, date1, date2):
    dates = {}
  
    for items in arr:
       # print (str(items[4]) + ' -> ' + str(items[5]))

        if items[4] in dates:
            dates[items[4]] = dates.get(items[4], 0) + round(items[5], 2)
        else:
            dates[items[4]] = items[5]

    #print (dates)
    
    for date, value in dates.items():
        if date in (date1, date2):
            print ('For date ' + str(date) + ', revenue = ' + str(round(value, 2)))

In [32]:
comparison_revenue_by_date(ecom, 20240807, 20240803)

For date 20240807, revenue = 104.5
For date 20240803, revenue = 29.7

In [33]:
# Indexing and Slicing Functions:
def user_trans(arr, user_id):
    for line in arr:
        if line[1] == user_id:
            print (line)

#OR
def user_trans2(arr, user):
    res = np.where(arr[:, 1] == user)
    print(res)
    
    for line in res:
        print (arr[line])

In [35]:
user_trans(ecom, 156)
user_trans2(ecom, 156)

[23 156 20004 5 20240807 15.4]
(array([22]),)
[[23 156 20004 5 20240807 15.4]]

In [36]:
def between_dates(arr, date1, date2):
    if date1 > date2:
        date1, date2 = date2, date1
        
    for line in arr:
        if line[4] >= date1 and line[4] <= date2:
            print(line)

In [37]:
between_dates(ecom, 20240806, 20240803)

[1 185 20000 7 20240804 18.7]
[6 169 20008 8 20240803 6.6]
[10 119 20002 1 20240806 19.8]
[15 142 20002 7 20240804 9.9]
[19 113 20009 9 20240803 9.9]
[20 116 20001 5 20240803 13.2]
[21 120 20000 1 20240805 8.8]
[25 163 20008 5 20240805 6.6]
[27 196 20000 3 20240804 16.5]
[29 108 20009 1 20240804 14.3]

In [38]:
def top_5_products_by_revenue(arr, product_ids, revenues):
    
    #Determine unique products and total revenue by every one
    unique_products, indices = np.unique(product_ids, return_inverse=True)
    total_revenue_per_product = np.zeros(len(unique_products))
    np.add.at(total_revenue_per_product, indices, revenues)
    
    #Find indexes of top 5 products by revenu
    top_5_indices = np.argsort(total_revenue_per_product)[-5:]

    #Get identificators of top-5 products
    top_5_products = unique_products[top_5_indices]

    # Retriving transactions for top-5 bproducts
    top_5_transactions = arr[np.isin(product_ids, top_5_products)]
    
    return top_5_transactions

In [39]:
product_ids = ecom[:, 2]
revenues = ecom[:, 5].astype(float)

 # Retriving transactions for top-5 bproducts by revenue
top_transactions = top_5_products_by_revenue(ecom, product_ids, revenues)

print('Transactions for top-5 bproducts by revenue:')
print(top_transactions)

Transactions for top-5 bproducts by revenue:
[[1 185 20000 7 20240804 18.7]
 [3 127 20002 5 20240808 20.9]
 [4 101 20000 3 20240808 1.1]
 [5 132 20003 8 20240807 19.8]
 [6 169 20008 8 20240803 6.6]
 [9 133 20003 1 20240809 13.2]
 [10 119 20002 1 20240806 19.8]
 [11 172 20009 6 20240801 20.9]
 [14 115 20003 7 20240808 4.4]
 [15 142 20002 7 20240804 9.9]
 [16 126 20008 8 20240801 15.4]
 [17 151 20003 4 20240807 15.4]
 [18 139 20003 1 20240801 6.6]
 [19 113 20009 9 20240803 9.9]
 [21 120 20000 1 20240805 8.8]
 [22 111 20000 8 20240807 19.8]
 [24 182 20008 3 20240807 20.9]
 [25 163 20008 5 20240805 6.6]
 [26 114 20002 4 20240801 6.6]
 [27 196 20000 3 20240804 16.5]
 [29 108 20009 1 20240804 14.3]]