In [555]:
transaction_id = np.arange(1, 31)
user_id = np.random.randint(100, 200, size=(30, 1))
#product_id = np.random.randint(20000, 30000, size=(30, 1))
product_id = np.random.randint(20000, 20010, size=(30, 1))
quantity = np.random.randint(1, 10, size=(30, 1))
price = np.random.uniform(1,20, (30,1)).round(2)

#start_date = np.datetime64('2024-06-01')
#end_date = np.datetime64('2024-12-10')
#timestamp = np.arange(start_date, end_date, 3, dtype='datetime64[D]')

start_date = 20240801
end_date = 20240810
timestamp = np.random.randint(start_date, end_date, size=(30, 1))


#print(user_id)

In [556]:
multidim = np.column_stack((transaction_id, user_id, product_id, quantity, timestamp, price))
ecom = multidim.astype(object)

In [557]:
print(ecom)

[[1.0 199.0 20004.0 5.0 20240807.0 15.39]
 [2.0 104.0 20008.0 8.0 20240806.0 17.86]
 [3.0 144.0 20003.0 8.0 20240804.0 4.34]
 [4.0 112.0 20000.0 6.0 20240809.0 18.86]
 [5.0 121.0 20009.0 3.0 20240805.0 4.77]
 [6.0 147.0 20000.0 6.0 20240805.0 17.83]
 [7.0 124.0 20009.0 7.0 20240808.0 4.61]
 [8.0 105.0 20002.0 4.0 20240805.0 6.96]
 [9.0 124.0 20007.0 2.0 20240809.0 17.5]
 [10.0 119.0 20008.0 3.0 20240808.0 18.22]
 [11.0 108.0 20003.0 8.0 20240809.0 19.76]
 [12.0 164.0 20002.0 6.0 20240804.0 19.09]
 [13.0 146.0 20004.0 6.0 20240806.0 3.94]
 [14.0 117.0 20002.0 6.0 20240807.0 3.05]
 [15.0 193.0 20000.0 4.0 20240805.0 6.83]
 [16.0 151.0 20009.0 7.0 20240807.0 13.39]
 [17.0 119.0 20001.0 2.0 20240802.0 18.93]
 [18.0 193.0 20003.0 3.0 20240802.0 18.82]
 [19.0 152.0 20008.0 2.0 20240805.0 14.61]
 [20.0 135.0 20002.0 7.0 20240801.0 13.19]
 [21.0 107.0 20005.0 9.0 20240804.0 15.65]
 [22.0 158.0 20004.0 1.0 20240802.0 12.57]
 [23.0 127.0 20005.0 2.0 20240805.0 17.06]
 [24.0 138.0 20002.0 8.0 20240808.0 13.43]
 [25.0 186.0 20007.0 4.0 20240807.0 7.94]
 [26.0 142.0 20001.0 2.0 20240806.0 7.54]
 [27.0 164.0 20009.0 4.0 20240803.0 9.81]
 [28.0 173.0 20003.0 7.0 20240803.0 1.1]
 [29.0 142.0 20004.0 2.0 20240803.0 2.11]
 [30.0 191.0 20005.0 9.0 20240809.0 10.05]]

In [558]:
ecom[0:30,0:5] = ecom[0:30,0:5].astype(int)
print(ecom)
#a[:,0] = a[:,0].astype(int)

[[1 199 20004 5 20240807 15.39]
 [2 104 20008 8 20240806 17.86]
 [3 144 20003 8 20240804 4.34]
 [4 112 20000 6 20240809 18.86]
 [5 121 20009 3 20240805 4.77]
 [6 147 20000 6 20240805 17.83]
 [7 124 20009 7 20240808 4.61]
 [8 105 20002 4 20240805 6.96]
 [9 124 20007 2 20240809 17.5]
 [10 119 20008 3 20240808 18.22]
 [11 108 20003 8 20240809 19.76]
 [12 164 20002 6 20240804 19.09]
 [13 146 20004 6 20240806 3.94]
 [14 117 20002 6 20240807 3.05]
 [15 193 20000 4 20240805 6.83]
 [16 151 20009 7 20240807 13.39]
 [17 119 20001 2 20240802 18.93]
 [18 193 20003 3 20240802 18.82]
 [19 152 20008 2 20240805 14.61]
 [20 135 20002 7 20240801 13.19]
 [21 107 20005 9 20240804 15.65]
 [22 158 20004 1 20240802 12.57]
 [23 127 20005 2 20240805 17.06]
 [24 138 20002 8 20240808 13.43]
 [25 186 20007 4 20240807 7.94]
 [26 142 20001 2 20240806 7.54]
 [27 164 20009 4 20240803 9.81]
 [28 173 20003 7 20240803 1.1]
 [29 142 20004 2 20240803 2.11]
 [30 191 20005 9 20240809 10.05]]

In [521]:
# w = np.zeros([30,6]).astype(int)
# w[0:30, 0] = transaction_id

# w[0:30, 4] = price
# print(w)

In [522]:
def revenue(arr):
    rev = 0
    for val in arr:
        sum = 0
        sum = val[3] * val[5]
        #print (sum)
        rev = rev + sum
    return(round(rev, 2))

In [523]:
revenue(ecom)

1742.07

In [524]:
def unq_users(arr):
    users = []
    for user in arr:
        if user[1] not in users:
            users.append(user[1])
    unq_users = len(users)
    return(unq_users)

In [525]:
unq_users(ecom)

24

In [526]:
def most_purchased(arr):
    mp_d = {}
  
    for items in arr:
        #print (str(items[2]) + ' -> ' + str(items[3]))

        if items[2] in mp_d:
            mp_d[items[2]] = mp_d.get(items[2], 0) + items[3]
        else:
            mp_d[items[2]] = items[3]

    print (mp_d)
    
    most_purchased_product_id = ''
    qty = 0
    for key, value in mp_d.items():
        if value > qty:
            qty += value
            most_purchased_product_id = key 
            
    print (most_purchased_product_id)

In [527]:
most_purchased(ecom)

{20002: 17, 20006: 30, 20007: 21, 20009: 16, 20005: 27, 20004: 9, 20001: 16, 20003: 16, 20008: 14, 20000: 8}
20006

In [374]:
def cust_price_type(arr):
    ecom[0:30,5] = ecom[0:30,5].astype(int)
    return(ecom)

In [375]:
cust_price_type(ecom)

array([[1.0, 188.0, 20002.0, 5.0, 20240806.0, 4],
       [2.0, 128.0, 20007.0, 7.0, 20240806.0, 13],
       [3.0, 188.0, 20007.0, 3.0, 20240803.0, 4],
       [4.0, 159.0, 20001.0, 3.0, 20240807.0, 4],
       [5.0, 111.0, 20000.0, 9.0, 20240802.0, 11],
       [6.0, 135.0, 20005.0, 2.0, 20240801.0, 17],
       [7.0, 177.0, 20009.0, 9.0, 20240806.0, 9],
       [8.0, 104.0, 20005.0, 9.0, 20240808.0, 14],
       [9.0, 183.0, 20001.0, 6.0, 20240801.0, 14],
       [10.0, 181.0, 20001.0, 2.0, 20240807.0, 18],
       [11.0, 113.0, 20002.0, 6.0, 20240809.0, 17],
       [12.0, 136.0, 20009.0, 7.0, 20240801.0, 1],
       [13.0, 168.0, 20007.0, 9.0, 20240806.0, 10],
       [14.0, 175.0, 20003.0, 8.0, 20240806.0, 11],
       [15.0, 196.0, 20003.0, 5.0, 20240807.0, 16],
       [16.0, 117.0, 20002.0, 6.0, 20240804.0, 7],
       [17.0, 175.0, 20008.0, 2.0, 20240809.0, 12],
       [18.0, 181.0, 20001.0, 9.0, 20240804.0, 3],
       [19.0, 186.0, 20006.0, 9.0, 20240809.0, 4],
       [20.0, 127.0, 20001.0, 9.0, 20240807.0, 4],
       [21.0, 110.0, 20009.0, 7.0, 20240807.0, 1],
       [22.0, 130.0, 20000.0, 5.0, 20240802.0, 18],
       [23.0, 156.0, 20009.0, 4.0, 20240802.0, 18],
       [24.0, 110.0, 20006.0, 8.0, 20240804.0, 18],
       [25.0, 173.0, 20002.0, 1.0, 20240804.0, 17],
       [26.0, 159.0, 20009.0, 8.0, 20240807.0, 19],
       [27.0, 152.0, 20007.0, 7.0, 20240803.0, 5],
       [28.0, 178.0, 20001.0, 4.0, 20240802.0, 16],
       [29.0, 114.0, 20004.0, 4.0, 20240804.0, 2],
       [30.0, 161.0, 20004.0, 1.0, 20240803.0, 6]], dtype=object)

In [528]:
def column_type(arr, column):
    return arr[:, column].dtype

In [529]:
column_type(ecom, 5)

dtype('O')

In [530]:
#3. Array Manipulation Functions

def new_array(arr):
    code = np.vstack(ecom[0:30, 2])
    qty = np.vstack(ecom[0:30, 3])
    new_array = np.hstack((code, qty))
    return new_array

In [531]:
new_array(ecom)

array([[20002,     5],
       [20006,     4],
       [20007,     4],
       [20007,     6],
       [20009,     8],
       [20005,     9],
       [20006,     8],
       [20004,     1],
       [20001,     9],
       [20003,     8],
       [20008,     7],
       [20006,     5],
       [20005,     5],
       [20006,     2],
       [20008,     7],
       [20006,     5],
       [20007,     6],
       [20005,     9],
       [20007,     5],
       [20004,     5],
       [20003,     8],
       [20000,     8],
       [20009,     6],
       [20001,     7],
       [20004,     3],
       [20005,     4],
       [20002,     4],
       [20002,     8],
       [20006,     6],
       [20009,     2]])

In [532]:
#print(new_array(ecom)[:, 0].dtype)
print(column_type(new_array(ecom), 1))

int64

In [536]:
print(ecom)

[[1 111 20002 5 20240801 13.2]
 [2 135 20006 4 20240801 17.96]
 [3 161 20007 4 20240804 12.17]
 [4 161 20007 6 20240804 11.58]
 [5 182 20009 8 20240802 19.52]
 [6 178 20005 9 20240801 11.12]
 [7 161 20006 8 20240808 4.99]
 [8 122 20004 1 20240808 13.79]
 [9 166 20001 9 20240807 9.76]
 [10 168 20003 8 20240803 16.82]
 [11 163 20008 7 20240808 4.73]
 [12 172 20006 5 20240803 3.15]
 [13 103 20005 5 20240801 8.35]
 [14 142 20006 2 20240808 19.49]
 [15 176 20008 7 20240809 7.28]
 [16 167 20006 5 20240809 18.12]
 [17 161 20007 6 20240808 11.9]
 [18 197 20005 9 20240803 14.3]
 [19 164 20007 5 20240801 7.99]
 [20 110 20004 5 20240806 10.91]
 [21 179 20003 8 20240804 6.28]
 [22 175 20000 8 20240804 4.56]
 [23 120 20009 6 20240803 11.02]
 [24 169 20001 7 20240808 13.07]
 [25 179 20004 3 20240804 16.06]
 [26 154 20005 4 20240805 4.65]
 [27 170 20002 4 20240801 7.75]
 [28 164 20002 8 20240805 1.88]
 [29 151 20006 6 20240806 4.64]
 [30 151 20009 2 20240808 1.49]]

In [534]:
def transactions_amt(arr):
    users, transaction_counts = np.unique(arr[0:30, 1], return_counts=True)   
    code = np.vstack(users[0:30, None])
    amt = np.vstack(transaction_counts[0:30, None])
    new_array = np.hstack((code, amt))

    return (new_array)
#users, transaction_counts

In [537]:
transactions_amt(ecom)

array([[103, 1],
       [110, 1],
       [111, 1],
       [120, 1],
       [122, 1],
       [135, 1],
       [142, 1],
       [151, 2],
       [154, 1],
       [161, 4],
       [163, 1],
       [164, 2],
       [166, 1],
       [167, 1],
       [168, 1],
       [169, 1],
       [170, 1],
       [172, 1],
       [175, 1],
       [176, 1],
       [178, 1],
       [179, 2],
       [182, 1],
       [197, 1]], dtype=object)

In [559]:
# arr = np.array([1, 2, np.nan, 4, 5])
# mask = np.isnan(arr)

# masked_array = np.ma.array(arr, mask=mask)

# print(masked_array.compressed()) # [1. 2. 4. 5.]
# print(masked_array.mask) # [False False  True False False]
# print(masked_array.mean()) # 3.0
# print(masked_array * 2) # [2.0 4.0 -- 8.0 10.0]

In [538]:
#### Cant replace with mask in specific column in matrix
def masking(arr):
    mask = np.ma.masked_where(arr[:, 3] < 2, arr[:, 3])
    return mask

In [539]:
masking(ecom)

masked_array(data=[5, 4, 4, 6, 8, 9, 8, --, 9, 8, 7, 5, 5, 2, 7, 5, 6, 9,
                   5, 5, 8, 8, 6, 7, 3, 4, 4, 8, 6, 2],
             mask=[False, False, False, False, False, False, False,  True,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False],
       fill_value='?',
            dtype=object)

In [560]:
for line in ecom:
    print (line[5])

15.39
17.86
4.34
18.86
4.77
17.83
4.61
6.96
17.5
18.22
19.76
19.09
3.94
3.05
6.83
13.39
18.93
18.82
14.61
13.19
15.65
12.57
17.06
13.43
7.94
7.54
9.81
1.1
2.11
10.05

In [561]:
def increaser(arr):
    
    for line in arr:
        line[5] = round((line[5] * 1.1), 2)
    return arr

In [562]:
increaser(ecom)

array([[1, 199, 20004, 5, 20240807, 16.93],
       [2, 104, 20008, 8, 20240806, 19.65],
       [3, 144, 20003, 8, 20240804, 4.77],
       [4, 112, 20000, 6, 20240809, 20.75],
       [5, 121, 20009, 3, 20240805, 5.25],
       [6, 147, 20000, 6, 20240805, 19.61],
       [7, 124, 20009, 7, 20240808, 5.07],
       [8, 105, 20002, 4, 20240805, 7.66],
       [9, 124, 20007, 2, 20240809, 19.25],
       [10, 119, 20008, 3, 20240808, 20.04],
       [11, 108, 20003, 8, 20240809, 21.74],
       [12, 164, 20002, 6, 20240804, 21.0],
       [13, 146, 20004, 6, 20240806, 4.33],
       [14, 117, 20002, 6, 20240807, 3.35],
       [15, 193, 20000, 4, 20240805, 7.51],
       [16, 151, 20009, 7, 20240807, 14.73],
       [17, 119, 20001, 2, 20240802, 20.82],
       [18, 193, 20003, 3, 20240802, 20.7],
       [19, 152, 20008, 2, 20240805, 16.07],
       [20, 135, 20002, 7, 20240801, 14.51],
       [21, 107, 20005, 9, 20240804, 17.22],
       [22, 158, 20004, 1, 20240802, 13.83],
       [23, 127, 20005, 2, 20240805, 18.77],
       [24, 138, 20002, 8, 20240808, 14.77],
       [25, 186, 20007, 4, 20240807, 8.73],
       [26, 142, 20001, 2, 20240806, 8.29],
       [27, 164, 20009, 4, 20240803, 10.79],
       [28, 173, 20003, 7, 20240803, 1.21],
       [29, 142, 20004, 2, 20240803, 2.32],
       [30, 191, 20005, 9, 20240809, 11.06]], dtype=object)

In [637]:
#### How to create empty array and then add values to it in a correct way?
def greather_1(arr):
    new_array = np.zeros(shape=(1, 6))
    #i = 0
    for line in arr:
        if line[3] > 1:
            new_array = np.vstack([new_array, line])
            #new_array[i] = np.vstack([new_array, line])
            #i +=1
    return(new_array)

In [638]:
greather_1(ecom)

array([[0.0, 0.0, 0.0, 0.0, 0.0, 0.0],
       [1, 199, 20004, 5, 20240807, 16.93],
       [2, 104, 20008, 8, 20240806, 19.65],
       [3, 144, 20003, 8, 20240804, 4.77],
       [4, 112, 20000, 6, 20240809, 20.75],
       [5, 121, 20009, 3, 20240805, 5.25],
       [6, 147, 20000, 6, 20240805, 19.61],
       [7, 124, 20009, 7, 20240808, 5.07],
       [8, 105, 20002, 4, 20240805, 7.66],
       [9, 124, 20007, 2, 20240809, 19.25],
       [10, 119, 20008, 3, 20240808, 20.04],
       [11, 108, 20003, 8, 20240809, 21.74],
       [12, 164, 20002, 6, 20240804, 21.0],
       [13, 146, 20004, 6, 20240806, 4.33],
       [14, 117, 20002, 6, 20240807, 3.35],
       [15, 193, 20000, 4, 20240805, 7.51],
       [16, 151, 20009, 7, 20240807, 14.73],
       [17, 119, 20001, 2, 20240802, 20.82],
       [18, 193, 20003, 3, 20240802, 20.7],
       [19, 152, 20008, 2, 20240805, 16.07],
       [20, 135, 20002, 7, 20240801, 14.51],
       [21, 107, 20005, 9, 20240804, 17.22],
       [23, 127, 20005, 2, 20240805, 18.77],
       [24, 138, 20002, 8, 20240808, 14.77],
       [25, 186, 20007, 4, 20240807, 8.73],
       [26, 142, 20001, 2, 20240806, 8.29],
       [27, 164, 20009, 4, 20240803, 10.79],
       [28, 173, 20003, 7, 20240803, 1.21],
       [29, 142, 20004, 2, 20240803, 2.32],
       [30, 191, 20005, 9, 20240809, 11.06]], dtype=object)

In [603]:
def comparison_revenue_by_date(arr, date1, date2):
    dates = {}
  
    for items in arr:
       # print (str(items[4]) + ' -> ' + str(items[5]))

        if items[4] in dates:
            dates[items[4]] = dates.get(items[4], 0) + round(items[5], 2)
        else:
            dates[items[4]] = items[5]

    #print (dates)
    
    for date, value in dates.items():
        if date in (date1, date2):
            print ('For date ' + str(date) + ', revenue = ' + str(round(value, 2)))

In [604]:
comparison_revenue_by_date(ecom, 20240807, 20240803)

For date 20240807, revenue = 43.74
For date 20240803, revenue = 14.32

In [650]:
# Indexing and Slicing Functions:
def user_trans(arr, user_id):
    for line in arr:
        if line[1] == user_id:
            print (line)

#OR
def user_trans2(arr, user):
    res = np.where(arr[:, 1] == user)
    print(res)
    
    for line in res:
        print (arr[line])

In [651]:
user_trans(ecom, 164)
user_trans2(ecom, 164)

[12 164 20002 6 20240804 21.0]
[27 164 20009 4 20240803 10.79]
(array([11, 26]),)
[[12 164 20002 6 20240804 21.0]
 [27 164 20009 4 20240803 10.79]]

In [631]:
def between_dates(arr, date1, date2):
    if date1 > date2:
        date1, date2 = date2, date1
        
    for line in arr:
        if line[4] >= date1 and line[4] <= date2:
            print(line)

In [632]:
between_dates(ecom, 20240806, 20240803)

[2 104 20008 8 20240806 19.65]
[3 144 20003 8 20240804 4.77]
[5 121 20009 3 20240805 5.25]
[6 147 20000 6 20240805 19.61]
[8 105 20002 4 20240805 7.66]
[12 164 20002 6 20240804 21.0]
[13 146 20004 6 20240806 4.33]
[15 193 20000 4 20240805 7.51]
[19 152 20008 2 20240805 16.07]
[21 107 20005 9 20240804 17.22]
[23 127 20005 2 20240805 18.77]
[26 142 20001 2 20240806 8.29]
[27 164 20009 4 20240803 10.79]
[28 173 20003 7 20240803 1.21]
[29 142 20004 2 20240803 2.32]

In [654]:
def top_5_products_by_revenue(arr, product_ids, revenues):
    
    #Determine unique products and total revenue by every one
    unique_products, indices = np.unique(product_ids, return_inverse=True)
    total_revenue_per_product = np.zeros(len(unique_products))
    np.add.at(total_revenue_per_product, indices, revenues)
    
    #Find indexes of top 5 products by revenu
    top_5_indices = np.argsort(total_revenue_per_product)[-5:]

    #Get identificators of top-5 products
    top_5_products = unique_products[top_5_indices]

    # Retriving transactions for top-5 bproducts
    top_5_transactions = arr[np.isin(product_ids, top_5_products)]
    
    return top_5_transactions

In [655]:
product_ids = ecom[:, 2]
revenues = ecom[:, 5].astype(float)

 # Retriving transactions for top-5 bproducts by revenue
top_transactions = top_5_products_by_revenue(ecom, product_ids, revenues)

print('Transactions for top-5 bproducts by revenue:')
print(top_transactions)

Transactions for top-5 bproducts by revenue:
[[2 104 20008 8 20240806 19.65]
 [3 144 20003 8 20240804 4.77]
 [4 112 20000 6 20240809 20.75]
 [6 147 20000 6 20240805 19.61]
 [8 105 20002 4 20240805 7.66]
 [10 119 20008 3 20240808 20.04]
 [11 108 20003 8 20240809 21.74]
 [12 164 20002 6 20240804 21.0]
 [14 117 20002 6 20240807 3.35]
 [15 193 20000 4 20240805 7.51]
 [18 193 20003 3 20240802 20.7]
 [19 152 20008 2 20240805 16.07]
 [20 135 20002 7 20240801 14.51]
 [21 107 20005 9 20240804 17.22]
 [23 127 20005 2 20240805 18.77]
 [24 138 20002 8 20240808 14.77]
 [28 173 20003 7 20240803 1.21]
 [30 191 20005 9 20240809 11.06]]